body,div,h1{
    margin: 0;
    padding: 0;
}
body::before{
    content: "";
    display: table;
}
h1{
    margin-top: 2%;
}
body{
    background:url(../img/main/bg.png) center center no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    font-family: 'KaiTi';
    max-width: 1920px;
    min-width: 1350px;
    min-height: 600px;
    position: relative;
    
}
html{
    font-size: 16px;
}
html,body{
    height: 100%;
}
@font-face{
    font-family: 'KaiTi';
    src: url(../font/simkai.ttf);
}
#myh1{
    text-shadow: 5px 4px 3px #9c7bff;
}
#main{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.lf{
    float: left;
}
.main-div{
   
    width: 12%;
    height: 27%;
    margin: 4%;

   
}
.main-div img{
    width: 100%;
}

.main-div:hover{
    cursor: pointer;
 
}

/* 对话框 */
.dialog-box{
    position: absolute;
    z-index: 100;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    display: none;
    font-size: 2rem;
    color: #fff;
    word-wrap: break-word;
    width: 192px;
    
}
