#liulantiezi{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    display: none;
}
.liulanban{
    width: 60%;
    height: 70%;
    position: absolute;
    left: 20%;
    top: 10%;
    border: 10px solid rgba(219, 151, 2, 0.863);
    background-color: #000;
    overflow-y: scroll;
}
.liulantiezi-close{
    width: 60%;
    height: 5%;
    left: 20%;
    top: 80%;
    position: absolute;
    background-color: #fff;
    text-align: center;
    font-size: 1.2rem;
}
.liulantiezi-close:hover{
    color: red;
    cursor: pointer;
}
.liulantiezi-wenzhang{
    
    width: 16%;
    height: 43%;
    margin: 2%;
    background: url(../img/main/wenzhang.png) center top no-repeat;
    background-size: cover;
    
}
.liulantiezi-wenzhang:hover{
    box-shadow: 0 0 5px 5px rgb(106, 255, 248);
    cursor: pointer;
}
.liulantiezi-text{
    height: 90%;
    word-wrap: break-word;
    font-size: 1.3rem;
    margin-top: 12%;
  
}
.liulantiezi-time{
    text-align: center;
    color: #fff;
    height: 10%;
    
}