#music-div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    display: none;
}
#music{
    position: absolute;
    width: 60%;
    border: 5px solid #000;
    z-index: 1000;
    height: 70%;
    top: 10%;
    left: 20%;
    display: block;
    background:url(../img/main/musicBG.png) center center no-repeat; 
    background-size: cover;
    -webkit-user-select: none;
    user-select: none;

}
#music .header{
    height: 10%;

}
#music .header::before{
    content: "";
    display: table;
}
#music .header .weizhi{
    width: 5%;
    height: 80%;
   
    margin-top: 0.5%;
    margin-left: 0.5%;

    
}
#music .header .img{
    
    float: left;
    margin-left: 0.5%;
    
}
#music .header .img img{
    height: 100%;
}
#music .header .mus-close{
    float: right;
    margin-right: 0.5%;

    font-size: 2rem;
    text-align: center;
    line-height: 100%;
}
#music .header .mus-close:hover{
    cursor: pointer;
    color: rgb(255, 68, 99);
}
#music .gequlist{
    height: 80%;
    overflow-y: scroll;
}
#table{
    color: #000;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;

}

#table .tr:hover{
    cursor: pointer;
    color: #fff;
    background-color: #e1b1ff8c;
}

