#xiangce{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: url(../img/main/xingkong_bg.jpg) center top no-repeat;
    display: none;
    background-size: cover;
    top: 0;
}
.xiangcefengmian{
    width: 10%;
    height: 25%;
    color: #fff;
    margin: 2%;
}
.xiangce-image{
    height: 80%;
    
}
.xiangce-name{
    height: 20%;
    text-align: center;
    font-size: 1.5rem;
   
}
.xiangce-image img{
    height: 100%;
}
.xiangcefengmian:hover{
    box-shadow: 0 0 10px 10px rgb(253, 255, 128);
    color: red;
    cursor: pointer;

}
.footclose{
    position: absolute;
    bottom: 2%;
    width: 5%;
    left: 47.5%;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(132, 253, 225);
    border-radius: 10px;
    
}

.footclose:hover{
    cursor: pointer;
    color: red;
    background-color: rgba(132, 253, 225, 0.66);

}

.fanye-div{
    position: absolute;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
}
/* 翻页 */
.bookweizhi{
    position: absolute;
    z-index: 2000;
    width: 70%;
    height: 80%;
 
    background: url(../img/main/bookBg.png) no-repeat;
    /* background-size: cover; */
    top: 3%;
    left: 15%;
}
.bookpage{
    position: absolute;
    z-index: 2500;
    width: 50%;
    height: 98%;
    top: 2%;

    -webkit-transform-style: preserve-3d;			
	-moz-transform-style: preserve-3d;			
	-ms-transform-style: preserve-3d;			
	-o-transform-style: preserve-3d;			
	transform-style: preserve-3d;			
	-webkit-transition: all linear 2s;
	-moz-transition: all linear 2s;
	-ms-transition: all linear 2s;
	-o-transition: all linear 2s;
	transition: all linear 2s;
    
}
.runPage{
	right: 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
.odd-number{
    left: 0;


}
.even-number{
    right: 0;

}
.first{
    position: absolute;
    width: 50%;
    top: 10%;
    height: 80%;
}
.bookpage img{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.introduce{
    width: 90%;
    left: 5%;
    height: 90%;
    position: absolute;
    margin-top: 5%;
    font-size: 1.4rem;
    background-color: #f0f0f0;
}
.introduce p{
    margin-left: 5%;
}
.introduce::before{
    content: "";
    display: table;
}
.role-name{
    margin-top: 5%;
    text-align: center;
}
.rote-content{
    text-indent: 2em;
}
.role-img{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 90%;
   
    margin-top: 5%;
    background-color: #fff;
}
/* .display-none{
    display: none;
}
.display-block{
    display: block;
} */
.btnline{
    position: absolute;
    width: 70%;
    height: auto;
    left: 15%;
    top: 86%;

}
.albun-btn{
    width: 15%;
    height: auto;
    font-size: 1.5rem;
    color: #fff;
}
.albun-btn:hover{
    color: red;
    cursor: pointer;
}
#lastbtn{
    text-align: left;
}
#closebtn{
    margin-left: 27.5%;
    margin-right: 27.5%;
    text-align: center;
}
#nextbtn{
    text-align: right;
}
.runClass{
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.tishikuan{
    position: absolute;
    width: 30%;
    height: 20%;
    left: 35%;
    background: rgba(187, 187, 187, 0.51);
    top: 10%;
    z-index: 5000;
    display: none;
}
.tishikuan p:first-child{
    margin: 0;
    padding: 0;
    
   text-align: center;
   margin-top: 2%;
    
  
    font-size: 1.5rem;
    
}
.tishikuan p:last-child{
    position: absolute;
    width: 10%;
    bottom: 2%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    left: 45%;
}
#tishi-btn:hover{
    color: red;
    cursor: pointer;
}

